<div class="pc-list">
  <div class="pc-list__container">
    <div class="pc-list__group">
      <div class="pc-list__nav">
        <p class="pc-list__title">
          хакатон
        </p>
        <app-settings-btn [matMenuTriggerFor]="menu" #tooltip="matTooltip"
        matTooltip="Настройки группы" matTooltipClass="tooltip"></app-settings-btn>
        <mat-menu #menu="matMenu" xPosition="before" class="menu">
          <button mat-menu-item (click)="openAddPcDialog()">
            <span class="menu__item">Добавить компьютер в группу</span>
          </button>
          <button mat-menu-item (click)="openDelPcDialog()">
            <span class="menu__item">Удалить компьютер из группы</span>
          </button>
          <button mat-menu-item (click)="openDelGroupDialog()">
            <span class="menu__item">Удалить группу</span>
          </button>
        </mat-menu>
      </div>
      <div class="pc-list__list">
        <app-pc-card></app-pc-card>
        <app-pc-card></app-pc-card>
        <app-pc-card></app-pc-card>
        <app-pc-card></app-pc-card>
        <app-pc-card></app-pc-card>
        <app-pc-card></app-pc-card>
        <app-pc-card></app-pc-card>
        <app-pc-card></app-pc-card>
        <app-pc-card></app-pc-card>
      </div>
    </div>
    <div class="pc-list__other">
      <app-pc-card></app-pc-card>
      <app-pc-card></app-pc-card>
      <app-pc-card></app-pc-card>
      <app-pc-card></app-pc-card>
      <app-pc-card></app-pc-card>
      <app-pc-card></app-pc-card>
      <app-pc-card></app-pc-card>
      <app-pc-card></app-pc-card>
      <app-pc-card></app-pc-card>
      <app-pc-card></app-pc-card>
      <app-pc-card></app-pc-card>
      <app-pc-card></app-pc-card>
      <app-pc-card></app-pc-card>
      <app-pc-card></app-pc-card>
      <app-pc-card></app-pc-card>
      <app-pc-card></app-pc-card>
      <app-pc-card></app-pc-card>
      <app-pc-card></app-pc-card>
      <app-pc-card></app-pc-card>
      <app-pc-card></app-pc-card>
      <app-pc-card></app-pc-card>
      <app-pc-card></app-pc-card>
    </div>
  </div>
</div>
