<div class="card">
  <div class="card__container">
    <img src="./assets/img/pc-card/computer.svg" alt="pc-card__img" class="card__img">
    <div class="card__status"></div>
    <div class="card__info">
      <p class="card__title">
        os: ubuntu 20.21
      </p>
      <p class="card__title">
        mac: 61-A0-65-7F-80-29
      </p>
      <p class="card__title">
        IP: 172.16.0.18
      </p>
    </div>
    <a href="" class="card__btn card__btn-hover" #tooltip="matTooltip"
    matTooltip="Перейти в профиль компьютера" matTooltipClass="tooltip">Подробнее</a>
  </div>
</div>
