<div class="profile">
  <div class="profile__nav">
    <p class="profile__title">Профиль компьютер</p>
    <app-settings-btn  #tooltip="matTooltip"
    matTooltip="Настройки компьютера"></app-settings-btn>
  </div>
  <div class="profile__info">
    <p class="profile__subtitle">
      Состояние: включен
    </p>
    <p class="profile__subtitle">
      Операционная система: Bubuntu 21 21
    </p>
    <p class="profile__subtitle">
      Mac addres: 61-A0-65-7F-80-29 
    </p>
    <p class="profile__subtitle">
      IPv4: 172.16.0.18
    </p>
    <p class="profile__subtitle">
      IPv6:
    </p>
    <p class="profile__subtitle">
      Количество дисков: 2
    </p>
  </div>
</div>