<div class="modal">
  <div class="modal__container">
    <form action="" class="modal__form">
      <span class="modal__title">Добавить компьютер</span>
      <mat-form-field appearance="fill">
        <mat-label>Выбрать компьютер</mat-label>
          <mat-select>
            <mat-option value="option 1">Option 1</mat-option>
            <mat-option value="option 2">Option 2</mat-option>
            <mat-option value="option 3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
        <input type="submit" value="Подтвердить" mat-flat-button class="modal__input">
    </form>
  </div>
</div>
